<ion-app>
  <ion-menu side="end" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Notre Carte</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-label routerLink="/catalogue">Nos Menus</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/catalogue">Nos Burgers</ion-label>
        </ion-item>
        <ion-item>
          <ion-label routerLink="/catalogue">Nos Compléments</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mon Profil</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Mes Commandes</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Déconnexion</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="authentification"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  </div>
</ion-app>
