ion-loading.custom-loading
{
    --background: #000000;
    --spinner-color: #1c6dff;

}
ion-toolbar
{
    --background: black;
    --color:white;
    text-align: center;
}
.burger
{
    cursor: pointer;
}
ion-card
{
    cursor: pointer;
    transition : 0.5s ease-in-out;
}
ion-card:hover
{
    box-shadow: 0 0px 40px 0 #B0C1D9;
}
.card-buttons
{
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
}
button
{
    border-radius: 50%;
    padding: 0.8em;
    border: none;
    box-shadow: lightgray 4px 4px 20px;
    background-color: white;
    transition: 0.5s ease-in-out;
}
button:hover
{
    color: white;
    background-color: black;
}
.flesh
{
    cursor:pointer;
}
.button
{
    cursor: pointer;
}