<ion-app>
  <ion-header
    parallax
    imageUrl="https://i.pinimg.com/originals/d5/6b/1a/d56b1a9ef0ec82db3ac57022c3a2dd2d.jpg"
    height="600"
    bgPosition="center"
  >
    <ion-toolbar translucent>
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="contenu"
          slot="start"
          color="light"
        ></ion-back-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button color="light">
          <ion-icon
            name="fast-food-outline"
            size="large"
            class="burger"
          ></ion-icon>
        </ion-menu-button>
      </ion-buttons>
      <ion-title slot="start">Catalogue</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <!-- Segment -->
    <ion-segment (ionChange)="segmentChanged($event)" class="my-5">
      <ion-segment-button value="card">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="list">
        <ion-icon name="list-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
    <!-- Card des Burgers -->
    <div *ngIf="card == true">
      <h1 class="text-center">Mes Burgers</h1>
      <app-burger
        *ngFor="let burger of mesBurgers"
        [monBurger]="burger"
        [routerLink]="['/burger-detail', burger.id]"
      ></app-burger>
      <!-- Card des Menus -->
      <h1 class="text-center">Mes Menus</h1>
      <app-menu
        *ngFor="let menu of mesMenus"
        [monMenu]="menu"
        [routerLink]="['/menu-detail', menu.id]"
      ></app-menu>
    </div>
    <div *ngIf="liste == true">
      <h1 class="text-center">Mes Burgers</h1>
      <!-- Liste des Burgers -->
      <app-list-burger
        *ngFor="let burger of mesBurgers"
        [monListBurger]="burger"
        [routerLink]="['/burger-detail',
      burger.id]"
      ></app-list-burger>
      <!-- Liste des Menus -->
      <h1 class="text-center">Mes Menus</h1>
      <app-list-menu
        *ngFor="let menu of mesMenus"
        [monListMenu]="menu"
        [routerLink]="['/menu-detail', menu.id]"
      ></app-list-menu>
    </div>
  </ion-content>
</ion-app>
