<ion-header>
  <ion-toolbar>
    <ion-title class="text-center">Heaven Burger</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides>
    <ion-slide>
      <!-- <app-landing></app-landing> -->
      <ion-img
        src="https://i.pinimg.com/originals/d5/6b/1a/d56b1a9ef0ec82db3ac57022c3a2dd2d.jpg"
      ></ion-img>
    </ion-slide>
    <ion-slide>
      <!-- <app-authentification></app-authentification> -->
      <form>
        <ion-img
          src="https://burgerkingfrance.twic.pics/img/products/0/e5/0e55066a-c68f-4839-9136-dbaf9d9d48df_?twic=v1/contain=700x700"
        ></ion-img>
        <ion-item>
          <ion-input placeholder="Email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-textarea placeholder="Mot de Passe"></ion-textarea>
        </ion-item>
        <button class="btn btn-primary ion-margin" routerLink="/sidemenu">
          Connexion
        </button>
      </form>
    </ion-slide>
  </ion-slides>
</ion-content>
