<ion-card>
  <ion-img
    src="{{'data:image/png;base64,' + monBurger.image}}"
    [alt]="monBurger.nom"
  ></ion-img>
  <ion-card-subtitle class="text-center">{{monBurger.nom}}</ion-card-subtitle>
  <ion-card-subtitle class="text-center"
    >{{monBurger.prix}} FCFA</ion-card-subtitle
  >
  <div class="card-buttons">
    <button>
      <i class="fas fa-shopping-cart"></i>
    </button>
    <button [routerLink]="['/burger', monBurger.id]">
      <i class="fas fa-eye"></i>
    </button>
  </div>
</ion-card>
